Package: net.limneos.bioprotect-latest-ios11.deb
Version: 
Architecture: iphoneos-arm
Maintainer: Limneos
Pre-Depends: 
Conflicts:
Filename: ./debs/net.limneos.bioprotect-latest-ios11.deb
Size: 733296 
MD5sum: 8f7f191a7d91c3de6a3fe32214ab60ae
SHA1: 280649097b0b6115c6a6302dd64a4993e39a5bad
SHA256: 04a40b1108454ad5072eb7de78ba50fcf50f1085717fbdf413e381f977c8a9c5
Section: Tweaks
Description: Anchor alternative for ios 11
Author: ianne.
Depiction: https://weirdchicken1234.github.io/chicken/depictions/BioProtect/index.html
Name: BioProtect11