Package: com.ianne.anchorraw.deb
Name: Anchor::raw 
Version: 0.0.2
Architecture: iphoneos-arm
Pre-Depends: dpkg (>= 1.13.25-5)
Conflicts: 
Depiction: https://chicken.github.io/depictions/MinimalHostsBlockerCB/index.html
Maintainer: ReddestDream <reddestdream@gmail.com>
Author: ReddestDream <reddestdream@gmail.com>
Section: Tweaks
